.project
.pydevproject
.settings/
.idea/
*.coverage
*.sublime-*
*.pyc
*.ipynb
*.pot
*.swp
*.swo
*.swn
log/
xmlrunner
src/
build/
.externalToolBuilders/
env/
.env/
.realsync
.DS_Store
._.DS_Store
.noseids
.coverage
celerybeat-schedule
*~
.\#*
Thumbs.db
py
tmp/
build-stamp
static
.tern-port

# Docker local files
local.yml
production.yml
